*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.encabezado{
    background-color: #3D8361;
    color: #EEF2E6;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(to bottom, #829460, #3D8361);
}

.logo-mate{
    height: 75px;
    width: 75px;
}

.slogan{
    font-size: 200%;
    display: flex;
    justify-content: center;
    color: #000;
    font-family: 'Poppins', sans-serif;
}

.seccion-sociales{
    color:#525E75; 
    display: flex;
    justify-content: center;
}

.contenedor-nombre{
    align-items: center;
    margin-top: 2%;
}

.nombre{
    font-size: 300%;
    color: #000;
    font-family: 'Poppins', sans-serif;
}

.carrusel-dimension{
    width: 50%;
    margin: 0 auto;
    margin-top: 5%;
}


/* .elegirnos{
    font-size: 200%;
    display: flex;
    justify-content: start ;
    color: #000;
    flex-wrap: wrap;
    width: 100%;
    align-items: flex-start;
    font-family: 'Poppins', sans-serif;
} */

.seccion-titulo-preparar{
    justify-content:center ;
    display: flex;
    color: black;
    background-color: #D6CDA4;
    flex-wrap: wrap;
    background-size: cover;
    margin: 5%;
}

.seccion-preparar{
    font-size: 25px;
    justify-content: flex-start;
    color: #000;
    font-family: 'Poppins', sans-serif;
    list-style: circle;
}

/* Mobile */
@media only screen and (max-width:800px){

    .encabezado{
        background-color: #3D8361;
        color: #EEF2E6;
        font-size: 20px;
        font-family: 'Poppins', sans-serif;
        background-image: linear-gradient(to bottom, #829460, #3D8361);
    }

    .logo-mate{
        height: 40px;
        width: 40px;
    }

    .titulo-nombre{
        font-size: 50px;
        display: flex;
        justify-content: center;
        font-family: 'Poppins', sans-serif;
    }


    .seccion-sociales{
        color:#525E75; 
        display: flex;
        justify-content: center;
        width: auto;
        height: auto;
    }

    .contenedor-nombre{
        width: auto;
        height: auto;
    }

    .slogan{
        font-size: 120%;
        display: flex;
        justify-content: end;
        color: #000;
        font-family: 'Poppins', sans-serif;
    }

    .nombre{
        font-size: 150%;
        color: #000;
    }
    

    .logo1{
        justify-content: flex-start;
        width: 100px;
        height: 100px;
        display: flex;
    }


    .seccion-fotos{
        width: auto;
        height: auto;
    }

    .redes-sociales{
        width: auto;
        height: auto;
        font-size: 100%;
    }

    .seccion-elegirnos{
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 2%
    }

    .mate-cebado{
        width: 120px;
        height: 100%;
        flex-wrap: wrap;
    }

    .elegirnos{
        font-size: 15px;
        justify-content: center ;
        align-items: center;
        color: #000;
        flex-wrap: wrap;
        font-family: 'Poppins', sans-serif;
    }

    .mate-y-yerba{
        width: 120px;
        height: 100%; 
        flex-wrap: wrap;
    }

    .seccion-titulo-preparar{
        font-size: 30px;
        justify-content:center ;
        display: flex;
        color: black;
        background-color: #D6CDA4;
        flex-wrap: wrap;
        background-size: cover;
        margin: 5%;
    }

    .seccion-preparar{
        font-size: 15px;
        justify-content: flex-start;
        color: #000;
        font-family: 'Poppins', sans-serif;
        list-style: circle;
    }

}
