*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

html{background-color: #F3EFCC;

}
.encabezado{
    background-color: #3D8361;
    color: #EEF2E6;
    font-size: 30px;
    background-image: linear-gradient(to bottom, #829460, #3D8361);
}
.lista-encabezado{
    display: flex;
    justify-content: center;
    padding: 20px 0px;
    justify-content: space-around;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

.lista-encabezado a:hover{
    display: block;
    background-color: #F3EFCC;
    transition-property: all;
    transition-duration: 1s;
    text-decoration: underline;
    transform: scale(1.1);
    border: solid 2px black;
    font-family: 'Poppins', sans-serif;
}

.contenedor-nombre{
    border: #3D8361;
    font-family: 'Poppins', sans-serif;
}
.titulo-nombre{
    font-size: 70px;
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

.contenedor-ubicacion{
    display: flex;
    margin-top: 3%;
    margin-left: 5%;
}

.titulo-ubicacion{
    font-size: 45px;
    display: flex;
    justify-content: flex-start;
    font-family: 'Poppins', sans-serif;
}
.icono-ubicacion{
width: 50px;
height: 50px;
}
.lista-ciudades{
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
}
.lista-ubicaciones{
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
    list-style: none;
}
.ubicaciones{
    font-size: 100%;
}
.titulo-distribuidores{
    font-size: 30px;
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}
.contenedor-distribuidores{
    font-size: 100%;
    display: flex;
    justify-content: center;
    margin-top: 3%;
    font-family: 'Poppins', sans-serif;
}


.pie-de-pagina{
    background-color: #3D8361;
    color: #EEF2E6;
    font-size: 100%;
    margin-top: 5%;
    background-image: linear-gradient(to top, #829460, #3D8361);
}

.lista-pie{
    display: flex;
    padding: 20px 0px;
    justify-content: space-around;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

.logo-pie-de-pagina{
    justify-content: flex-start;
    width: 100px;
    height: 100px;
    display: flex;
}

.nombre-pie{
    color: #000;
    justify-content: center;
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
}

/*Mobile*/

@media only screen and (max-width:800px){
    html{
        background-color: #F3EFCC
    }

    .encabezado{
        background-color: #3D8361;
        color: #EEF2E6;
        font-size: 20px;
        font-family: 'Poppins', sans-serif;
        background-image: linear-gradient(to bottom, #829460, #3D8361);
    }

    .lista-encabezado a:hover{
        display: block;
        background-color: #F3EFCC;
        transition-property: all;
        transition-duration: 1s;
        text-decoration: underline;
        transform: scale(1.1);
        border: solid 2px black;
        font-family: 'Poppins', sans-serif;
    }

    .lista-encabezado a:hover{
        display: block;
        background-color: #F3EFCC;
        transition-property: all;
        transition-duration: 1s;
        text-decoration: underline;
        transform: scale(1.1);
        border: solid 2px black;
        font-family: 'Poppins', sans-serif;
    }

    .titulo-nombre{
        font-size: 50px;
        display: flex;
        justify-content: center;
        font-family: 'Poppins', sans-serif;
    }


    .titulo-ubicacion{
        font-size: 25px;
        display: flex;
        justify-content: flex-start;
        font-family: 'Poppins', sans-serif;
    }

    .icono-ubicacion{
        width: 4%;
        height: 4%;
        margin-left: 2%;
        }

    .contenedor-ubicacion{
        display: flex;
        margin-top: 3%;
        margin-left: 5%;
    }

    .lista-ciudades{
        display: flex;
        justify-content: space-around;
        margin-top: 5%;
        font-size: 100%;
        font-family: 'Poppins', sans-serif;
    }
    .lista-ubicaciones{
        display: flex;
        justify-content: space-around;
        margin-top: 3%;
        list-style: none;
        margin-left: 4%;
        font-family: 'Poppins', sans-serif;
    }

    .mapa{
        width: 80%;
        height: 10%;
    }

    .pie-de-pagina{
        background-color: #3D8361;
        color: #EEF2E6;
        font-size: 100%;
        margin-top: 5%;
        font-family: 'Poppins', sans-serif;
        background-image: linear-gradient(to top, #829460, #3D8361);
    }
    
    .lista-pie{
        display: flex;
        padding: 20px 0px;
        justify-content: space-around;
        list-style: none;
        font-family: 'Poppins', sans-serif;
    }
    
    .logo-pie-de-pagina{
        justify-content: flex-start;
        width: 50px;
        height: 50px;
        display: flex;
    }
    
    .nombre-pie{
        color: #000;
        justify-content: center;
        font-size: 21px;
        font-family: 'Poppins', sans-serif;
    }

}
